

body { overflow: auto; background-color: #fff;

	// open
	&[data-state=open] { overflow: hidden;
		.layout-header { display: block; overflow: auto; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: z("modal"); margin: 0; padding: 0 12px; height: auto; border-bottom: 0px; background-color: rgba(242, 242, 242, 0.95);
			transition: background-color 0.3s ease-in-out;

			.navigation { opacity: 1; visibility: visible; }
			
			@include mobile {
				.btn-menus { @include retina-sprite($sm-btn-close-group); }
			}

			@include tablet { padding: 0 24px; }

			@include desktop { padding: 0 100px;
				.btn-menus { margin-top: 0; @include sprite($sd-btn-close); }
			}
		}
	}
}


/* header */
.layout-header { margin: 0 12px; border-bottom: 1px solid #000; background-color: #fff;
	transition: background-color 0.3s ease-in-out;

	.btn-menus { text-indent: -9999px; }
	.logo-eagon { float: right; margin-top: 10px; text-indent: -9999px; }

	.navigation { display: block; opacity: 0; visibility: hidden; text-align: center; padding-bottom: 20px; border-top: 1px solid #4f4e4e;
		transition: opacity 0.3s ease-in-out;

		.navigation-title { display: none; }
		.list-menus { display: inline-block; margin-top: 36px;
			> li { padding: 0 0px; border-top: 1px solid #4f4e4e;
				&:first-child { border-top: 0; }

				a { display: block; font-family: $font-special-stack; font-size: 2.625rem; font-weight: 400; color: #231f20; text-align: center; line-height: 59px; }
			}
		}
		.eagon-haus { display: block; margin-top: 60px; font-family: $font-special-stack; font-size: 0.813rem; font-weight: 700; color: #231f20; letter-spacing: 0.3rem; text-align: center; }
	}


	@include mobile { height: 44px; 
		.btn-menus { @include retina-sprite($sm-btn-menus-group); }
		.logo-eagon { @include retina-sprite($sm-logo-group); }
	}

	@include tablet { margin: 0 24px;
		.navigation {
			.eagon-haus { margin-top: 240px; }
		}
	}

	@include desktop { margin: 0 100px; height: 66px;
		.btn-menus { margin-top: 22px; @include sprite($sd-btn-menus); }
		.logo-eagon { margin-top: 20px; @include sprite($sd-logo); }
		.navigation {
			.list-menus { margin-top: 80px;
				> li { padding: 0 30px;
					a { line-height: 53px; }
				}
			}
			.eagon-haus { margin-top: 70px; font-size: 0.750rem; }
		}
	}
}


/* contents */
.layout-contents { margin: 0 12px; 
	.page-title { display: none; }

	@include tablet { margin: 0 24px; }

	@include desktop { margin: 0 100px; 
		.contents { margin: 0 auto; max-width: $desktop-max-width; }
	}
}


/* footer */
.layout-footer { overflow: hidden; padding: 12px 12px 69px; min-height: 200px; background-color: #f8f8f8; 
	.eagon-haus { font-family: $font-special-stack; font-size: 0.750rem; font-weight: 700; color: #231f20; letter-spacing: 0.3rem; }
	.contents { overflow: hidden; font-size: 0.625rem; font-weight: 700; color: #4f4e4e; line-height: 1.500em;
		.description { margin-top: 11px; }
		.list-local-business {
			> li { margin-top: 15px;
				.name { font-weight: 800; color: #231f20; line-height: 1.400em; }
			}
		}
	}

	@include tablet { padding: 0 24px 29px 24px; min-height: 265px;
		.eagon-haus { float: left; margin-top: 15px; font-size: 0.938rem; }
		.contents { float: right; margin-top: 0; width: 290px; font-size: 0.625rem; 
			.description { margin-top: 17px; line-height: 1.400em; }
			.list-local-business {
				> li { margin-top: 10px; }
				* { line-height: 1.400em; }
			}
		}
	}

	@include desktop { padding: 0;
		.layout-footer-inner { overflow: hidden; margin: 0 auto; padding: 10px 100px 118px; max-width: $desktop-max-width; }
		.eagon-haus { float: left; font-size: 1.500rem; }
		.contents { float: right; margin-top: 0px; width: 815px; font-size: 0.750rem;
			.description { float: left; margin-top: 4px; width: 520px; line-height: 1.500em; }
			.list-local-business { float: right; width: 250px;
				> li { margin-top: 3px;
					+ li { margin-top: 17px; }
				}
				* { line-height: 1.500em; }
			}
		}
	}
}


/* popup */
.page-detail.photos {
	@include desktop { background-color: #f4f4f4; }
}
.layout-popup { position: relative; background-color: #fff;
	.btn-close { display: block; position: fixed; top: 20px; right: 12px; z-index: z("gnb") + 1; text-indent: -9999px; }

	.popup-header { position: fixed; top: 0; right: 0; left: 0; z-index: z("gnb"); padding: 2px 12px 15px; background-color: rgba(255, 255, 255, 0.9);
		.title { display: block; font-family: $font-special-stack; font-size: 1.063rem; font-weight: 700; color: #231f20; line-height: 50px; }
		.description { font-size: 0.750rem; font-weight: 700; color: #4f4e4e; line-height: 1.417em; }
	}

	.popup-slider { padding: 0 12px; 
		.popup-item { padding-bottom: 15px; }

		.slick-slide { float: none; }
	}
	
	@include mobile {
		.btn-close { @include retina-sprite($sm-btn-close-popup-group); }
	}

	@include tablet {
		.btn-close { right: 24px; @include retina-sprite($sm-btn-close-popup-group); }

		.popup-header { padding: 0px 96px 24px 24px; background-color: rgba(255, 255, 255, 0.9);
			.title { font-size: 1.625rem; line-height: 68px; }
			.description { font-size: 0.938rem; line-height: 1.400em; }
		}

		.popup-slider { padding: 0; border: 0;
			.popup-item { padding-bottom: 24px; }

			.slick-slide { float: none; }
		}
	}

	@include desktop { background-color: #f4f4f4;
		.btn-close { right: 60px; @include sprite($sd-btn-close); }

		.popup-header { padding: 0px 50% 50px 60px; background-color: transparent;
			.title { font-size: 1.875rem; line-height: 100px; }
			.description { font-size: 0.813rem; line-height: 1.308em; }
		}

		.popup-slider { position: relative; padding: 0px; margin-top: 0px !important; border: 0px;
			.popup-item { padding: 0; }

			.slick-slide { float: left; }
			.slick-arrow { display: block; position: absolute; top: 50%; z-index: z("default"); text-indent: -9999px;
				&.slick-prev { left: 26px; margin-top: -$sd-btn-prev-02-height/2; @include sprite($sd-btn-prev-02); }
				&.slick-next { right: 26px; margin-top: -$sd-btn-next-02-height/2; @include sprite($sd-btn-next-02); }
			}
		}
	}
}









