/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sd-btn-close-name: 'sd-btn_close';
$sd-btn-close-x: 149px;
$sd-btn-close-y: 0px;
$sd-btn-close-offset-x: -149px;
$sd-btn-close-offset-y: 0px;
$sd-btn-close-width: 41px;
$sd-btn-close-height: 66px;
$sd-btn-close-total-width: 248px;
$sd-btn-close-total-height: 160px;
$sd-btn-close-image: '../images/desktop/sprites.png';
$sd-btn-close: (149px, 0px, -149px, 0px, 41px, 66px, 248px, 160px, '../images/desktop/sprites.png', 'sd-btn_close', );
$sd-btn-download-name: 'sd-btn_download';
$sd-btn-download-x: 196px;
$sd-btn-download-y: 0px;
$sd-btn-download-offset-x: -196px;
$sd-btn-download-offset-y: 0px;
$sd-btn-download-width: 52px;
$sd-btn-download-height: 52px;
$sd-btn-download-total-width: 248px;
$sd-btn-download-total-height: 160px;
$sd-btn-download-image: '../images/desktop/sprites.png';
$sd-btn-download: (196px, 0px, -196px, 0px, 52px, 52px, 248px, 160px, '../images/desktop/sprites.png', 'sd-btn_download', );
$sd-btn-menus-name: 'sd-btn_menus';
$sd-btn-menus-x: 196px;
$sd-btn-menus-y: 126px;
$sd-btn-menus-offset-x: -196px;
$sd-btn-menus-offset-y: -126px;
$sd-btn-menus-width: 41px;
$sd-btn-menus-height: 26px;
$sd-btn-menus-total-width: 248px;
$sd-btn-menus-total-height: 160px;
$sd-btn-menus-image: '../images/desktop/sprites.png';
$sd-btn-menus: (196px, 126px, -196px, -126px, 41px, 26px, 248px, 160px, '../images/desktop/sprites.png', 'sd-btn_menus', );
$sd-btn-next-name: 'sd-btn_next';
$sd-btn-next-x: 0px;
$sd-btn-next-y: 74px;
$sd-btn-next-offset-x: 0px;
$sd-btn-next-offset-y: -74px;
$sd-btn-next-width: 49px;
$sd-btn-next-height: 86px;
$sd-btn-next-total-width: 248px;
$sd-btn-next-total-height: 160px;
$sd-btn-next-image: '../images/desktop/sprites.png';
$sd-btn-next: (0px, 74px, 0px, -74px, 49px, 86px, 248px, 160px, '../images/desktop/sprites.png', 'sd-btn_next', );
$sd-btn-next-02-name: 'sd-btn_next_02';
$sd-btn-next-02-x: 196px;
$sd-btn-next-02-y: 58px;
$sd-btn-next-02-offset-x: -196px;
$sd-btn-next-02-offset-y: -58px;
$sd-btn-next-02-width: 32px;
$sd-btn-next-02-height: 62px;
$sd-btn-next-02-total-width: 248px;
$sd-btn-next-02-total-height: 160px;
$sd-btn-next-02-image: '../images/desktop/sprites.png';
$sd-btn-next-02: (196px, 58px, -196px, -58px, 32px, 62px, 248px, 160px, '../images/desktop/sprites.png', 'sd-btn_next_02', );
$sd-btn-prev-name: 'sd-btn_prev';
$sd-btn-prev-x: 55px;
$sd-btn-prev-y: 74px;
$sd-btn-prev-offset-x: -55px;
$sd-btn-prev-offset-y: -74px;
$sd-btn-prev-width: 49px;
$sd-btn-prev-height: 86px;
$sd-btn-prev-total-width: 248px;
$sd-btn-prev-total-height: 160px;
$sd-btn-prev-image: '../images/desktop/sprites.png';
$sd-btn-prev: (55px, 74px, -55px, -74px, 49px, 86px, 248px, 160px, '../images/desktop/sprites.png', 'sd-btn_prev', );
$sd-btn-prev-02-name: 'sd-btn_prev_02';
$sd-btn-prev-02-x: 149px;
$sd-btn-prev-02-y: 72px;
$sd-btn-prev-02-offset-x: -149px;
$sd-btn-prev-02-offset-y: -72px;
$sd-btn-prev-02-width: 32px;
$sd-btn-prev-02-height: 62px;
$sd-btn-prev-02-total-width: 248px;
$sd-btn-prev-02-total-height: 160px;
$sd-btn-prev-02-image: '../images/desktop/sprites.png';
$sd-btn-prev-02: (149px, 72px, -149px, -72px, 32px, 62px, 248px, 160px, '../images/desktop/sprites.png', 'sd-btn_prev_02', );
$sd-logo-name: 'sd-logo';
$sd-logo-x: 0px;
$sd-logo-y: 0px;
$sd-logo-offset-x: 0px;
$sd-logo-offset-y: 0px;
$sd-logo-width: 143px;
$sd-logo-height: 30px;
$sd-logo-total-width: 248px;
$sd-logo-total-height: 160px;
$sd-logo-image: '../images/desktop/sprites.png';
$sd-logo: (0px, 0px, 0px, 0px, 143px, 30px, 248px, 160px, '../images/desktop/sprites.png', 'sd-logo', );
$sd-logo-footer-name: 'sd-logo_footer';
$sd-logo-footer-x: 0px;
$sd-logo-footer-y: 36px;
$sd-logo-footer-offset-x: 0px;
$sd-logo-footer-offset-y: -36px;
$sd-logo-footer-width: 131px;
$sd-logo-footer-height: 32px;
$sd-logo-footer-total-width: 248px;
$sd-logo-footer-total-height: 160px;
$sd-logo-footer-image: '../images/desktop/sprites.png';
$sd-logo-footer: (0px, 36px, 0px, -36px, 131px, 32px, 248px, 160px, '../images/desktop/sprites.png', 'sd-logo_footer', );
$spritesheet-width: 248px;
$spritesheet-height: 160px;
$spritesheet-image: '../images/desktop/sprites.png';
$spritesheet-sprites: ($sd-btn-close, $sd-btn-download, $sd-btn-menus, $sd-btn-next, $sd-btn-next-02, $sd-btn-prev, $sd-btn-prev-02, $sd-logo, $sd-logo-footer, );
$spritesheet: (248px, 160px, '../images/desktop/sprites.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
