/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sm-btn-close-name: 'sm-btn_close';
$sm-btn-close-x: 0px;
$sm-btn-close-y: 55px;
$sm-btn-close-offset-x: 0px;
$sm-btn-close-offset-y: -55px;
$sm-btn-close-width: 34px;
$sm-btn-close-height: 44px;
$sm-btn-close-total-width: 148px;
$sm-btn-close-total-height: 131px;
$sm-btn-close-image: '../images/mobile/sprites.png';
$sm-btn-close: (0px, 55px, 0px, -55px, 34px, 44px, 148px, 131px, '../images/mobile/sprites.png', 'sm-btn_close', );
$sm-btn-close-popup-name: 'sm-btn_close_popup';
$sm-btn-close-popup-x: 80px;
$sm-btn-close-popup-y: 78px;
$sm-btn-close-popup-offset-x: -80px;
$sm-btn-close-popup-offset-y: -78px;
$sm-btn-close-popup-width: 19px;
$sm-btn-close-popup-height: 19px;
$sm-btn-close-popup-total-width: 148px;
$sm-btn-close-popup-total-height: 131px;
$sm-btn-close-popup-image: '../images/mobile/sprites.png';
$sm-btn-close-popup: (80px, 78px, -80px, -78px, 19px, 19px, 148px, 131px, '../images/mobile/sprites.png', 'sm-btn_close_popup', );
$sm-btn-download-name: 'sm-btn_download';
$sm-btn-download-x: 0px;
$sm-btn-download-y: 105px;
$sm-btn-download-offset-x: 0px;
$sm-btn-download-offset-y: -105px;
$sm-btn-download-width: 26px;
$sm-btn-download-height: 26px;
$sm-btn-download-total-width: 148px;
$sm-btn-download-total-height: 131px;
$sm-btn-download-image: '../images/mobile/sprites.png';
$sm-btn-download: (0px, 105px, 0px, -105px, 26px, 26px, 148px, 131px, '../images/mobile/sprites.png', 'sm-btn_download', );
$sm-btn-download-tablet-name: 'sm-btn_download_tablet';
$sm-btn-download-tablet-x: 0px;
$sm-btn-download-tablet-y: 0px;
$sm-btn-download-tablet-offset-x: 0px;
$sm-btn-download-tablet-offset-y: 0px;
$sm-btn-download-tablet-width: 49px;
$sm-btn-download-tablet-height: 49px;
$sm-btn-download-tablet-total-width: 148px;
$sm-btn-download-tablet-total-height: 131px;
$sm-btn-download-tablet-image: '../images/mobile/sprites.png';
$sm-btn-download-tablet: (0px, 0px, 0px, 0px, 49px, 49px, 148px, 131px, '../images/mobile/sprites.png', 'sm-btn_download_tablet', );
$sm-btn-menus-name: 'sm-btn_menus';
$sm-btn-menus-x: 40px;
$sm-btn-menus-y: 55px;
$sm-btn-menus-offset-x: -40px;
$sm-btn-menus-offset-y: -55px;
$sm-btn-menus-width: 34px;
$sm-btn-menus-height: 44px;
$sm-btn-menus-total-width: 148px;
$sm-btn-menus-total-height: 131px;
$sm-btn-menus-image: '../images/mobile/sprites.png';
$sm-btn-menus: (40px, 55px, -40px, -55px, 34px, 44px, 148px, 131px, '../images/mobile/sprites.png', 'sm-btn_menus', );
$sm-logo-name: 'sm-logo';
$sm-logo-x: 55px;
$sm-logo-y: 0px;
$sm-logo-offset-x: -55px;
$sm-logo-offset-y: 0px;
$sm-logo-width: 93px;
$sm-logo-height: 20px;
$sm-logo-total-width: 148px;
$sm-logo-total-height: 131px;
$sm-logo-image: '../images/mobile/sprites.png';
$sm-logo: (55px, 0px, -55px, 0px, 93px, 20px, 148px, 131px, '../images/mobile/sprites.png', 'sm-logo', );
$sm-logo-footer-name: 'sm-logo_footer';
$sm-logo-footer-x: 80px;
$sm-logo-footer-y: 55px;
$sm-logo-footer-offset-x: -80px;
$sm-logo-footer-offset-y: -55px;
$sm-logo-footer-width: 67px;
$sm-logo-footer-height: 17px;
$sm-logo-footer-total-width: 148px;
$sm-logo-footer-total-height: 131px;
$sm-logo-footer-image: '../images/mobile/sprites.png';
$sm-logo-footer: (80px, 55px, -80px, -55px, 67px, 17px, 148px, 131px, '../images/mobile/sprites.png', 'sm-logo_footer', );
$sm-logo-footer-tablet-name: 'sm-logo_footer_tablet';
$sm-logo-footer-tablet-x: 55px;
$sm-logo-footer-tablet-y: 26px;
$sm-logo-footer-tablet-offset-x: -55px;
$sm-logo-footer-tablet-offset-y: -26px;
$sm-logo-footer-tablet-width: 86px;
$sm-logo-footer-tablet-height: 21px;
$sm-logo-footer-tablet-total-width: 148px;
$sm-logo-footer-tablet-total-height: 131px;
$sm-logo-footer-tablet-image: '../images/mobile/sprites.png';
$sm-logo-footer-tablet: (55px, 26px, -55px, -26px, 86px, 21px, 148px, 131px, '../images/mobile/sprites.png', 'sm-logo_footer_tablet', );
$sm-btn-close-2x-name: 'sm-btn_close@2x';
$sm-btn-close-2x-x: 0px;
$sm-btn-close-2x-y: 110px;
$sm-btn-close-2x-offset-x: 0px;
$sm-btn-close-2x-offset-y: -110px;
$sm-btn-close-2x-width: 68px;
$sm-btn-close-2x-height: 88px;
$sm-btn-close-2x-total-width: 296px;
$sm-btn-close-2x-total-height: 262px;
$sm-btn-close-2x-image: '../images/mobile/sprites@2x.png';
$sm-btn-close-2x: (0px, 110px, 0px, -110px, 68px, 88px, 296px, 262px, '../images/mobile/sprites@2x.png', 'sm-btn_close@2x', );
$sm-btn-close-popup-2x-name: 'sm-btn_close_popup@2x';
$sm-btn-close-popup-2x-x: 160px;
$sm-btn-close-popup-2x-y: 156px;
$sm-btn-close-popup-2x-offset-x: -160px;
$sm-btn-close-popup-2x-offset-y: -156px;
$sm-btn-close-popup-2x-width: 38px;
$sm-btn-close-popup-2x-height: 38px;
$sm-btn-close-popup-2x-total-width: 296px;
$sm-btn-close-popup-2x-total-height: 262px;
$sm-btn-close-popup-2x-image: '../images/mobile/sprites@2x.png';
$sm-btn-close-popup-2x: (160px, 156px, -160px, -156px, 38px, 38px, 296px, 262px, '../images/mobile/sprites@2x.png', 'sm-btn_close_popup@2x', );
$sm-btn-download-2x-name: 'sm-btn_download@2x';
$sm-btn-download-2x-x: 0px;
$sm-btn-download-2x-y: 210px;
$sm-btn-download-2x-offset-x: 0px;
$sm-btn-download-2x-offset-y: -210px;
$sm-btn-download-2x-width: 52px;
$sm-btn-download-2x-height: 52px;
$sm-btn-download-2x-total-width: 296px;
$sm-btn-download-2x-total-height: 262px;
$sm-btn-download-2x-image: '../images/mobile/sprites@2x.png';
$sm-btn-download-2x: (0px, 210px, 0px, -210px, 52px, 52px, 296px, 262px, '../images/mobile/sprites@2x.png', 'sm-btn_download@2x', );
$sm-btn-download-tablet-2x-name: 'sm-btn_download_tablet@2x';
$sm-btn-download-tablet-2x-x: 0px;
$sm-btn-download-tablet-2x-y: 0px;
$sm-btn-download-tablet-2x-offset-x: 0px;
$sm-btn-download-tablet-2x-offset-y: 0px;
$sm-btn-download-tablet-2x-width: 98px;
$sm-btn-download-tablet-2x-height: 98px;
$sm-btn-download-tablet-2x-total-width: 296px;
$sm-btn-download-tablet-2x-total-height: 262px;
$sm-btn-download-tablet-2x-image: '../images/mobile/sprites@2x.png';
$sm-btn-download-tablet-2x: (0px, 0px, 0px, 0px, 98px, 98px, 296px, 262px, '../images/mobile/sprites@2x.png', 'sm-btn_download_tablet@2x', );
$sm-btn-menus-2x-name: 'sm-btn_menus@2x';
$sm-btn-menus-2x-x: 80px;
$sm-btn-menus-2x-y: 110px;
$sm-btn-menus-2x-offset-x: -80px;
$sm-btn-menus-2x-offset-y: -110px;
$sm-btn-menus-2x-width: 68px;
$sm-btn-menus-2x-height: 88px;
$sm-btn-menus-2x-total-width: 296px;
$sm-btn-menus-2x-total-height: 262px;
$sm-btn-menus-2x-image: '../images/mobile/sprites@2x.png';
$sm-btn-menus-2x: (80px, 110px, -80px, -110px, 68px, 88px, 296px, 262px, '../images/mobile/sprites@2x.png', 'sm-btn_menus@2x', );
$sm-logo-2x-name: 'sm-logo@2x';
$sm-logo-2x-x: 110px;
$sm-logo-2x-y: 0px;
$sm-logo-2x-offset-x: -110px;
$sm-logo-2x-offset-y: 0px;
$sm-logo-2x-width: 186px;
$sm-logo-2x-height: 40px;
$sm-logo-2x-total-width: 296px;
$sm-logo-2x-total-height: 262px;
$sm-logo-2x-image: '../images/mobile/sprites@2x.png';
$sm-logo-2x: (110px, 0px, -110px, 0px, 186px, 40px, 296px, 262px, '../images/mobile/sprites@2x.png', 'sm-logo@2x', );
$sm-logo-footer-2x-name: 'sm-logo_footer@2x';
$sm-logo-footer-2x-x: 160px;
$sm-logo-footer-2x-y: 110px;
$sm-logo-footer-2x-offset-x: -160px;
$sm-logo-footer-2x-offset-y: -110px;
$sm-logo-footer-2x-width: 134px;
$sm-logo-footer-2x-height: 34px;
$sm-logo-footer-2x-total-width: 296px;
$sm-logo-footer-2x-total-height: 262px;
$sm-logo-footer-2x-image: '../images/mobile/sprites@2x.png';
$sm-logo-footer-2x: (160px, 110px, -160px, -110px, 134px, 34px, 296px, 262px, '../images/mobile/sprites@2x.png', 'sm-logo_footer@2x', );
$sm-logo-footer-tablet-2x-name: 'sm-logo_footer_tablet@2x';
$sm-logo-footer-tablet-2x-x: 110px;
$sm-logo-footer-tablet-2x-y: 52px;
$sm-logo-footer-tablet-2x-offset-x: -110px;
$sm-logo-footer-tablet-2x-offset-y: -52px;
$sm-logo-footer-tablet-2x-width: 172px;
$sm-logo-footer-tablet-2x-height: 42px;
$sm-logo-footer-tablet-2x-total-width: 296px;
$sm-logo-footer-tablet-2x-total-height: 262px;
$sm-logo-footer-tablet-2x-image: '../images/mobile/sprites@2x.png';
$sm-logo-footer-tablet-2x: (110px, 52px, -110px, -52px, 172px, 42px, 296px, 262px, '../images/mobile/sprites@2x.png', 'sm-logo_footer_tablet@2x', );
$spritesheet-width: 148px;
$spritesheet-height: 131px;
$spritesheet-image: '../images/mobile/sprites.png';
$spritesheet-sprites: ($sm-btn-close, $sm-btn-close-popup, $sm-btn-download, $sm-btn-download-tablet, $sm-btn-menus, $sm-logo, $sm-logo-footer, $sm-logo-footer-tablet, );
$spritesheet: (148px, 131px, '../images/mobile/sprites.png', $spritesheet-sprites, );
$retina-spritesheet-width: 296px;
$retina-spritesheet-height: 262px;
$retina-spritesheet-image: '../images/mobile/sprites@2x.png';
$retina-spritesheet-sprites: ($sm-btn-close-2x, $sm-btn-close-popup-2x, $sm-btn-download-2x, $sm-btn-download-tablet-2x, $sm-btn-menus-2x, $sm-logo-2x, $sm-logo-footer-2x, $sm-logo-footer-tablet-2x, );
$retina-spritesheet: (296px, 262px, '../images/mobile/sprites@2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$sm-btn-close-group-name: 'sm-btn_close';
$sm-btn-close-group: ('sm-btn_close', $sm-btn-close, $sm-btn-close-2x, );
$sm-btn-close-popup-group-name: 'sm-btn_close_popup';
$sm-btn-close-popup-group: ('sm-btn_close_popup', $sm-btn-close-popup, $sm-btn-close-popup-2x, );
$sm-btn-download-group-name: 'sm-btn_download';
$sm-btn-download-group: ('sm-btn_download', $sm-btn-download, $sm-btn-download-2x, );
$sm-btn-download-tablet-group-name: 'sm-btn_download_tablet';
$sm-btn-download-tablet-group: ('sm-btn_download_tablet', $sm-btn-download-tablet, $sm-btn-download-tablet-2x, );
$sm-btn-menus-group-name: 'sm-btn_menus';
$sm-btn-menus-group: ('sm-btn_menus', $sm-btn-menus, $sm-btn-menus-2x, );
$sm-logo-group-name: 'sm-logo';
$sm-logo-group: ('sm-logo', $sm-logo, $sm-logo-2x, );
$sm-logo-footer-group-name: 'sm-logo_footer';
$sm-logo-footer-group: ('sm-logo_footer', $sm-logo-footer, $sm-logo-footer-2x, );
$sm-logo-footer-tablet-group-name: 'sm-logo_footer_tablet';
$sm-logo-footer-tablet-group: ('sm-logo_footer_tablet', $sm-logo-footer-tablet, $sm-logo-footer-tablet-2x, );
$retina-groups: ($sm-btn-close-group, $sm-btn-close-popup-group, $sm-btn-download-group, $sm-btn-download-tablet-group, $sm-btn-menus-group, $sm-logo-group, $sm-logo-footer-group, $sm-logo-footer-tablet-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
