@import url(nanumgothic.css);
@import url(univers.css);
/**
 * variable
 */
body {
  background-color: #fff; }

/* Common Style */
* {
  margin: 0;
  padding: 0; }

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, q, s, samp, strike, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  line-height: 1.3em;
  border: 0 none; }

body {
  position: relative;
  min-height: 320px;
  margin: 0 auto;
  font-size: 100%;
  line-height: 1.3em;
  font-family: "Nanum Gothic", "Malgun Gothic", Gulim, Dotum, sans-serif;
  -ms-text-size-adjust: 100%;
      text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

header, h1 {
  font-size: 100%; }

html, body {
  height: 100%; }

caption, legend {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
  visibility: hidden; }

caption {
  display: none; }

img {
  border: none;
  vertical-align: top;
  width: 100%; }

select, input {
  vertical-align: top; }

hr {
  display: none;
  border: 0 none; }

ol, ul, ul li {
  list-style: none; }

em {
  font-style: normal; }

menu li {
  list-style: none; }

address {
  display: inline;
  font-style: normal; }

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: 0px;
  background-color: transparent; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, textarea, keygen, select, button {
  font-family: "Nanum Gothic", "Malgun Gothic", Gulim, Dotum, sans-serif; }

strong {
  font-weight: normal; }

dfn {
  font-style: normal; }

/* link Style */
a:link, a:visited, a:active, a:focus {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.is-hidden {
  display: none !important; }

.visible-hidden {
  visibility: hidden !important; }

.clear {
  clear: both; }

.txt-center {
  text-align: center !important; }

.inline-block {
  display: inline-block;
  vertical-align: middle; }

/* forms */
fieldset {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

input[type=submit],
input[type=search] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: 0px; }

input:focus,
button:focus,
textarea:focus,
select,
div {
  outline: 0; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* media queries */
/* phone & table */
/* z-index */
/* retina */
/* aspect ratio */
/**
 * import
 */
/** layout **/
body {
  background-color: #fff; }

/* header */
.layout-header {
  margin: 0 12px;
  border-bottom: 1px solid #000;
  background-color: #fff; }
  .layout-header .btn-menus {
    text-indent: -9999px; }
  .layout-header .logo-eagon {
    float: right;
    margin-top: 10px;
    text-indent: -9999px; }
  @media only screen and (min-width: 320px) and (max-width: 1024px) {
    .layout-header {
      height: 44px; }
      .layout-header .btn-menus {
        background-image: url(../images/mobile/sprites.png);
        background-position: 0px -55px;
        width: 34px;
        height: 44px; } }
    @media only screen and (min-width: 320px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 1024px) and (min-resolution: 192dpi) {
      .layout-header .btn-menus {
        background-image: url(../images/mobile/sprites@2x.png);
        background-size: 148px 99px; } }
  @media only screen and (min-width: 320px) and (max-width: 1024px) {
      .layout-header .logo-eagon {
        background-image: url(../images/mobile/sprites.png);
        background-position: -55px 0px;
        width: 93px;
        height: 20px; } }
    @media only screen and (min-width: 320px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 1024px) and (min-resolution: 192dpi) {
      .layout-header .logo-eagon {
        background-image: url(../images/mobile/sprites@2x.png);
        background-size: 148px 99px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .layout-header {
      margin: 0 24px; } }
  @media only screen and (min-width: 1025px) {
    .layout-header {
      margin: 0 100px;
      height: 66px; }
      .layout-header .btn-menus {
        margin-top: 22px;
        background-image: url(../images/desktop/sprites.png);
        background-position: -149px -58px;
        width: 41px;
        height: 26px; }
      .layout-header .logo-eagon {
        margin-top: 20px;
        background-image: url(../images/desktop/sprites.png);
        background-position: 0px 0px;
        width: 143px;
        height: 30px; } }

/* contents */
.layout-contents {
  margin: 0 12px; }
  .layout-contents .page-title {
    display: none; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .layout-contents {
      margin: 0 24px; } }
  @media only screen and (min-width: 1025px) {
    .layout-contents {
      margin: 0 100px; }
      .layout-contents .contents {
        margin: 0 auto;
        max-width: 1364px; } }

/* footer */
.layout-footer {
  overflow: hidden;
  padding: 12px 12px 69px;
  min-height: 200px;
  background-color: #f8f8f8; }
  .layout-footer .eagon-haus {
    font-family: Arial, "Nanum Gothic", "Malgun Gothic", Gulim, Dotum, sans-serif;
    font-size: 0.750rem;
    font-weight: 700;
    color: #231f20;
    letter-spacing: 0.3rem; }
  .layout-footer .contents {
    overflow: hidden;
    font-size: 0.625rem;
    font-weight: 700;
    color: #4f4e4e;
    line-height: 1.500em; }
    .layout-footer .contents .description {
      margin-top: 11px; }
    .layout-footer .contents .list-local-business > li {
      margin-top: 15px; }
      .layout-footer .contents .list-local-business > li .name {
        font-weight: 800;
        color: #231f20;
        line-height: 1.400em; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .layout-footer {
      padding: 0 24px 29px 24px;
      min-height: 265px; }
      .layout-footer .eagon-haus {
        float: left;
        margin-top: 15px;
        font-size: 0.938rem; }
      .layout-footer .contents {
        float: right;
        margin-top: 0;
        width: 290px;
        font-size: 0.625rem; }
        .layout-footer .contents .description {
          margin-top: 17px;
          line-height: 1.400em; }
        .layout-footer .contents .list-local-business > li {
          margin-top: 10px; }
        .layout-footer .contents .list-local-business * {
          line-height: 1.400em; } }
  @media only screen and (min-width: 1025px) {
    .layout-footer {
      padding: 0; }
      .layout-footer .layout-footer-inner {
        overflow: hidden;
        margin: 0 auto;
        padding: 10px 100px 118px;
        max-width: 1364px; }
      .layout-footer .eagon-haus {
        float: left;
        font-size: 1.500rem; }
      .layout-footer .contents {
        float: right;
        margin-top: 0px;
        width: 815px;
        font-size: 0.750rem; }
        .layout-footer .contents .description {
          float: left;
          margin-top: 4px;
          width: 520px;
          line-height: 1.500em; }
        .layout-footer .contents .list-local-business {
          float: right;
          width: 250px; }
          .layout-footer .contents .list-local-business > li {
            margin-top: 3px; }
            .layout-footer .contents .list-local-business > li + li {
              margin-top: 17px; }
          .layout-footer .contents .list-local-business * {
            line-height: 1.500em; } }

/* product list */
.list-product {
  overflow: hidden;
  margin-top: 12px;
  margin-bottom: 64px; }
  .list-product > li {
    float: left;
    padding-top: 15px;
    padding-left: 4.054054054054%;
    width: 47.972972972973%; }
    .list-product > li figcaption {
      padding-top: 5px;
      font-size: 0.750rem;
      font-weight: 800;
      color: #4f4e4e; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .list-product > li:nth-child(2n+1) {
      padding-left: 0; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .list-product {
      margin-top: 26px;
      margin-bottom: 120px; }
      .list-product > li {
        padding-top: 20px;
        padding-left: 2.777777777778%;
        width: 31.388888888889%; }
        .list-product > li:nth-child(3n+1) {
          padding-left: 0; }
        .list-product > li figcaption {
          padding-top: 3px;
          font-size: 0.813rem; } }
  @media only screen and (min-width: 1025px) {
    .list-product {
      margin-top: 33px;
      margin-bottom: 250px; }
      .list-product > li {
        padding-top: 60px;
        padding-left: 1.466275659824%;
        width: 23.900293255132%; }
        .list-product > li:nth-child(4n+1) {
          padding-left: 0; }
        .list-product > li figcaption {
          padding-top: 18px;
          font-size: 1.063rem;
          font-weight: 700; } }

/* product detail */
.product-header {
  padding: 20px 0 25px 0;
  text-align: center; }
  .product-header .product-title {
    display: inline-block;
    padding: 0 15px;
    font-family: Arial, "Nanum Gothic", "Malgun Gothic", Gulim, Dotum, sans-serif;
    font-size: 1.563rem;
    font-weight: 400;
    color: #231f20;
    text-align: center;
    line-height: 1.240em;
    border: 2px solid #000; }
  .product-header .description {
    margin-top: 10px;
    font-size: 0.938rem;
    font-weight: 700;
    color: #000;
    line-height: 1.400em;
    text-align: left; }
  .product-header .product-slider {
    position: relative;
    margin-top: 42px;
    width: 100%; }
    .product-header .product-slider .product-item {
      width: 100%; }
      .product-header .product-slider .product-item img {
        width: 100%; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .product-header {
      padding: 36px 0 37px 0; }
      .product-header .product-title {
        padding: 0 25px;
        font-size: 2.250rem; }
      .product-header .product-slider {
        margin-top: 56px; }
      .product-header .description {
        margin-top: 17px;
        width: 58%;
        font-size: 0.938rem;
        line-height: 1.467em; } }
  @media only screen and (min-width: 1025px) {
    .product-header {
      padding: 57px 0 57px 0; }
      .product-header .product-title {
        padding: 0 20px;
        font-size: 3.375rem;
        line-height: 1.148em; }
      .product-header .product-slider {
        margin-top: 79px; }
      .product-header .description {
        margin-top: 30px;
        width: 58%;
        font-size: 1.250rem;
        line-height: 1.400em; }
      .product-header .slick-arrow {
        display: block;
        position: absolute;
        top: 50%;
        z-index: 1;
        text-indent: -9999px; }
        .product-header .slick-arrow.slick-prev {
          left: 15px;
          margin-top: -43px;
          background-image: url(../images/desktop/sprites.png);
          background-position: -55px -36px;
          width: 49px;
          height: 86px; }
        .product-header .slick-arrow.slick-next {
          right: 15px;
          margin-top: -43px;
          background-image: url(../images/desktop/sprites.png);
          background-position: 0px -36px;
          width: 49px;
          height: 86px; } }

.features .features-title {
  display: none; }

.features .feature .photo {
  margin: 14px 0 8px 0; }

.features .feature figcaption {
  padding-bottom: 13px;
  font-size: 0.750rem;
  font-weight: 400;
  color: #4f4e4e;
  line-height: 1.417em; }
  .features .feature figcaption:before {
    content: attr(data-seq);
    display: block;
    margin-bottom: 6px;
    padding-left: 5px;
    height: 15px;
    width: 40px;
    font-size: 0.750rem;
    font-weight: 700;
    color: #fff;
    line-height: 15px;
    background-color: #f1592a; }
  .features .feature figcaption * {
    line-height: 1.417em; }
  .features .feature figcaption .title {
    display: block;
    font-weight: 700;
    color: #231f20; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .features .list-features {
    border-top: 0; }
    .features .list-features > li {
      border-top: 1px solid #4f4e4e; }
      .features .list-features > li.none-mobile {
        border: 0; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .features .feature .photo {
    margin: 20px 0 10px 0; }
  .features .feature figcaption {
    padding-bottom: 18px;
    font-size: 0.750rem;
    line-height: 1.417em; }
    .features .feature figcaption * {
      line-height: 1.417em; }
    .features .feature figcaption .title {
      font-size: 0.688rem;
      font-weight: 800;
      color: #231f20;
      line-height: 1.455em; }
  .features .list-features {
    overflow: hidden;
    padding: 0 0 0 18.888888888888889%;
    border-top: 1px solid #4f4e4e; }
    .features .list-features > li {
      float: left;
      width: 48.287671232876712%;
      border-top: 1px solid #4f4e4e; }
      .features .list-features > li:nth-child(1), .features .list-features > li:nth-child(2) {
        border-top: 0px; }
      .features .list-features > li:nth-child(odd) {
        clear: both; }
      .features .list-features > li:nth-child(even) {
        padding-left: 3.424657534246575%; } }

@media only screen and (min-width: 1025px) {
  .features .feature .photo {
    margin: 30px 0 16px 0; }
  .features .feature figcaption {
    padding-bottom: 29px;
    font-size: 1.000rem;
    line-height: 1.500em; }
    .features .feature figcaption:before {
      margin-bottom: 14px;
      padding-left: 10px;
      height: 22px;
      width: 78px;
      font-size: 1.125rem;
      line-height: 22px; }
    .features .feature figcaption * {
      line-height: 1.500em; }
  .features .list-features {
    overflow: hidden;
    padding: 0 0 0 18.888888888888889%;
    border-top: 1px solid #4f4e4e; }
    .features .list-features > li {
      float: left;
      width: 48.287671232876712%;
      border-top: 1px solid #4f4e4e; }
      .features .list-features > li:nth-child(1), .features .list-features > li:nth-child(2) {
        border-top: 0px; }
      .features .list-features > li:nth-child(odd) {
        clear: both; }
      .features .list-features > li:nth-child(even) {
        padding-left: 3.424657534246575%; } }

.info-section {
  overflow: hidden;
  margin-top: 14px;
  border-top: 1px solid #4f4e4e; }
  .info-section + .info-section {
    margin-top: 28px;
    margin-bottom: 70px; }
  .info-section .info-title {
    margin-top: 6px;
    font-size: 0.750rem;
    font-weight: 700;
    color: #231f20; }
  .info-section .info-spec {
    margin-top: 15px;
    width: 100%; }
    .info-section .info-spec thead th {
      font-size: 0.625rem;
      font-weight: 700;
      color: #231f20;
      line-height: 1.600em;
      text-align: left;
      border-bottom: 2px solid #4f4e4e; }
    .info-section .info-spec tbody th {
      padding-right: 5.067567567567568%;
      font-size: 0.625rem;
      font-weight: 700;
      line-height: 1.600em;
      text-align: left;
      border-bottom: 1px solid #4f4e4e; }
    .info-section .info-spec tbody td {
      padding-right: 5.067567567567568%;
      font-size: 0.625rem;
      font-weight: 700;
      line-height: 1.600em;
      text-align: left;
      border-bottom: 1px solid #4f4e4e; }
    .info-section .info-spec .r {
      font-weight: 800;
      text-align: right; }
  .info-section .btn-download {
    display: block;
    float: right;
    text-indent: -9999px; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .info-section .btn-download {
      margin-top: -13px;
      background-image: url(../images/mobile/sprites.png);
      background-position: -40px -55px;
      width: 26px;
      height: 26px; } }
  @media only screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi) {
    .info-section .btn-download {
      background-image: url(../images/mobile/sprites@2x.png);
      background-size: 148px 99px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .info-section {
      margin-top: 19px; }
      .info-section + .info-section {
        margin-top: 40px;
        margin-bottom: 120px; }
      .info-section .info-title {
        margin-top: 3px;
        font-size: 1.063rem; }
      .info-section .info-spec {
        float: right;
        margin-top: 28px;
        width: calc(100% - 18.888888888888889%); }
        .info-section .info-spec thead th {
          font-size: 0.688rem;
          line-height: 1.455em; }
        .info-section .info-spec tbody th {
          font-size: 0.688rem;
          line-height: 1.455em; }
        .info-section .info-spec tbody td {
          font-size: 0.688rem;
          line-height: 1.455em; }
      .info-section .btn-download {
        margin-top: -18px;
        margin-right: 8px;
        background-image: url(../images/mobile/sprites.png);
        background-position: 0px 0px;
        width: 49px;
        height: 49px; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (max-width: 1024px) and (min-resolution: 192dpi) {
      .info-section .btn-download {
        background-image: url(../images/mobile/sprites@2x.png);
        background-size: 148px 99px; } }
  @media only screen and (min-width: 1025px) {
    .info-section {
      margin-top: 30px; }
      .info-section + .info-section {
        margin-top: 62px;
        margin-bottom: 186px; }
      .info-section .info-title {
        margin-top: 11px;
        font-size: 1.500rem; }
      .info-section .info-spec {
        float: right;
        margin-top: 53px;
        width: calc(100% - 18.888888888888889%); }
        .info-section .info-spec thead th {
          font-size: 0.875rem;
          line-height: 1.571em; }
        .info-section .info-spec tbody th {
          font-size: 0.875rem;
          line-height: 1.571em; }
        .info-section .info-spec tbody td {
          font-size: 0.875rem;
          line-height: 1.571em; }
      .info-section .btn-download {
        margin-top: -25px;
        margin-right: 8px;
        background-image: url(../images/desktop/sprites.png);
        background-position: -149px 0px;
        width: 52px;
        height: 52px; } }
